/* Colors */
/* Animation vars */
@keyframes tiltHead {
  from {
    transform: rotate(-20deg); }
  to {
    transform: rotate(12deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes landAndTakeOff {
  0% {
    transform: translate3d(-330px, -490px, 0); }
  25% {
    transform: translate3d(70px, 100px, 0); }
  35% {
    transform: translate3d(0px, 75px, 0); }
  45% {
    transform: translate3d(94px, 135px, 0); }
  50% {
    transform: translate3d(50px, 170px, 0); }
  65% {
    transform: translate3d(155px, 240px, 0); }
  80% {
    transform: translate3d(155px, 240px, 0); }
  93% {
    transform: translate3d(405px, 0, 0); }
  100% {
    transform: translate3d(690px, -480px, 0); } }

@keyframes blinkingLights {}#rodolf {
  width: 50%;
  position: relative;
  top: 6%;
  left: 8%;
  animation: 10s ease-in infinite landAndTakeOff;
  transform-origin: center; }
  #rodolf #head {
    animation: 2s ease-in-out infinite alternate tiltHead;
    transform-origin: bottom; }
  #rodolf .leg {
    fill: #3c715a; }
  #rodolf #spaceship > [class^=st] {
    fill: #758e9a; }
  #rodolf #spaceship .st6 {
    fill: rgba(117, 142, 154, 0.2); }
  #rodolf .lantern .st8 {
    fill: lightgray; }
  #rodolf .lantern .st9 {
    fill: beige; }
  #rodolf .lantern .st4 {
    stroke: #383838;
    fill: transparent; }

#alien .st1 {
  fill: yellowgreen; }

#alien .st3 {
  fill: lavender; }

.eyeballs {
  animation: 3s cubic-bezier(1, -0.39, 0.57, 1.46) infinite spin;
  transform-origin: center; }

html, body {
  height: 100%; }

body {
  background: radial-gradient(ellipse at center, #525252 0%, black 100%); }
