#rodolf {
  width: 50%;
  position: relative;
  top: 6%;
  left: 8%;
  // duration timing-function iteration-count 
  animation: 10s ease-in infinite landAndTakeOff;
  transform-origin: center;

  #head {
    // duration timing-function iteration-count direction 
    animation: 2s ease-in-out infinite alternate tiltHead;
    transform-origin: bottom;
  }

  .leg {
    fill: $legs;
  }

  #spaceship {
   > [class^=st] {
      fill: $space-blue;
    }

    .st6 {
      fill: $glass;
    }
  }

  .lantern {
    .st8 {
      fill: lightgray;
    }
    
    .st9 {
      fill: beige;
    }

    .st4 {
      stroke: $dark-gray;
      fill: transparent;
    }
  }
}

#alien {
  .st1 {
    fill: $alien-green;
  }

  .st3 {
    fill: lavender;
  }
}

.eyeballs {
  $cb: cubic-bezier(1, -0.39, 0.57, 1.46);
  // duration timing-function iteration-count direction 
  animation:3s $cb infinite spin;
  transform-origin: center;
}
