/* Colors */

$alien-green: yellowgreen;
$space-blue: #758e9a;
$glass: rgba(117, 142, 154, 0.2);
$legs: #3c715a;
$dark-gray: #383838;

/* Animation vars */
$landing-duration: 5s;
$takeoff-delay: $landing-duration + 2;